importFrom(fields, rdist)
importFrom(Matrix, determinant, spMatrix)
importFrom(rARPACK, eigs_sym)
importFrom(RColorBrewer, brewer.pal)
importFrom(vegan, spantree)
importFrom(spdep, nb2listw, knearneigh, knn2nb, tri2nb, poly2nb)
importFrom(parallel, makeCluster, detectCores, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach, "%dopar%")
import(ggplot2)
import(splines)
import(methods)
import(sp)
importFrom("stats", "median", "cor", "kmeans", "lm", "logLik",
             "predict", "pt", "residuals", "sd", "approx",
           "density", "quantile", "rnorm", "optim", "pnorm",
           "optimize","dist")
importFrom("Matrix", "sparse.model.matrix")
export(besf)
export(besf_vc)
export(esf)
export(lsem)
export(lslm)
export(meigen)
export(meigen0)
export(meigen_f)
export(plot_s)
export(plot_n)
export(plot_qr)
export(predict0)
export(predict0_vc)
export(resf)
export(resf_qr)
export(resf_vc)
export(weigen)
export(coef_marginal)
export(coef_marginal_vc)
S3method("print","esf")
S3method("print","resf")
S3method("print","resf_vc")
S3method("print","resf_qr")
S3method("print","besf")
S3method("print","besf_vc")
S3method("print","lslm")
S3method("print","lsem")
S3method("print","coef_marginal")
S3method("print","coef_marginal_vc")
